# Dependencies
node_modules/
.next/
dist/
out/
build/

# Mobile build / native caches
**/local.properties
**/android/.gradle/
**/android/build/
**/android/app/build/
**/.cxx/

# Temp
*.log
*.tsbuildinfo
.env*.local

