# Dependencies
node_modules/
.next/
dist/
out/
build/

# Mobile build / native caches
**/local.properties
*.properties
**/android/.gradle/
**/android/build/
**/android/app/build/
**/.cxx/
**/android/local.properties

# Temp
*.log
*.tsbuildinfo
.env*.local
